#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Collect_Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #501516;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #501516;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #501516;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #501516;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 293px;
  height: 52px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Table_1 {
  border-collapse: separate;
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Event_Cenima_Title {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Table_2 {
  border-collapse: separate;
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Text_cell_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-check_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-check_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-check_3 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-check_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-check_5 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_86 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Rich_text_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-top: 22px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 266px;
  height: 128px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ABAFAE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ABAFAE;
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ABAFAE;
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Activity_Indicator_Area {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 9px 9px 9px 9px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Act_indicator {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-75228f95-7a2a-447a-ba75-2df8e142c33a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}