#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_86 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Event_Cenima_Title {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_45 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_46 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-a920f88b-6cfc-48c5-8bc6-93d1f3666751 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}