[main]
Description=
Host=202.177.220.1
AuthType=1
GroupName=FLYDIGITAL
GroupPwd=
enc_GroupPwd=3903D8C7B3686D278ACC538924790FB3EECD147284CFF5FA6D054C712D2057BD0D2716556A81963173FD498A020743F2DD713EAB2C8516097C8340B4146E4590B1D00A137FF70EC0
EnableISPConnect=0
ISPConnectType=0
ISPConnect=Home PPTP
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
