#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a #s-Event_Cenima_Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2927dbc8-83e1-4bc9-8009-fe270c54a80a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}