#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Event_Cenima_Title {
  -ms-transform: rotate(0.0deg);
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Table_1 {
  border-collapse: separate;
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d #s-Label_86 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-2a0258c0-4050-426a-823d-0cd837204d7d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}