#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #501516;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #501516;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #501516;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #501516;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 289px;
  height: 48px;
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Event_Cenima_Title {
  -ms-transform: rotate(0.0deg);
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f #s-Table_1 {
  border-collapse: separate;
}
.ui-page {
  overflow-x: hidden;
}
#s-2bac39e7-c700-42b4-8779-3f680facd75f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}