#s-47751252-9d1c-4fba-a95e-a75c4d28c2df {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_1 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 320px;
  height: 505px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/9f13245b-5fd8-4259-8137-b0ba684d7c7c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rich_text_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #111111;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 73px;
  width: 173px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_85 .valign {
  vertical-align: middle;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 22px;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Image_34 {
  position: absolute;
  top: 3px;
  left: 244px;
  width: 76px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_7 {
  position: absolute;
  top: 0px;
  left: 119px;
  width: 78px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_7 .valign {
  vertical-align: middle;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_8 {
  position: absolute;
  top: 1px;
  left: 43px;
  width: 45px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_8 .valign {
  vertical-align: middle;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Image_35 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 44px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_1 {
  position: absolute;
  top: 172px;
  left: 50px;
  width: 209px;
  height: 73px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16pt;
  line-height: 16pt;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Label_1 .valign {
  vertical-align: middle;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_6 {
  position: absolute;
  top: 523px;
  left: 0px;
  width: 160px;
  height: 43px;
  background-color: #383838;
  background-image: none;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_6 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_7 {
  position: absolute;
  top: 523px;
  left: 160px;
  width: 159px;
  height: 43px;
  background-color: #383838;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_7 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-47751252-9d1c-4fba-a95e-a75c4d28c2df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}