#s-d12245cc-1680-458d-89dd-4f0d7fb22724 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_56 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #111111;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 73px;
  width: 173px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_85 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_86 {
  position: absolute;
  top: 28px;
  left: 249px;
  width: 63px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_86 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 22px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_34 {
  position: absolute;
  top: 3px;
  left: 244px;
  width: 76px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_7 {
  position: absolute;
  top: 0px;
  left: 119px;
  width: 78px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_8 {
  position: absolute;
  top: 1px;
  left: 43px;
  width: 45px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_35 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 44px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 320px;
  height: 505px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/9f13245b-5fd8-4259-8137-b0ba684d7c7c.png');
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Event_Cenima_Title {
  position: absolute;
  top: 62px;
  left: 23px;
  width: 274px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barcode_Image {
  position: absolute;
  top: 78px;
  left: 15px;
  width: 156px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Scanner_Status {
  position: absolute;
  top: 60px;
  left: 15px;
  width: 107px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Scanner_Status .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Camera {
  position: absolute;
  top: 91px;
  left: 190px;
  width: 123px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Enter_Barcode {
  position: absolute;
  top: 128px;
  left: 11px;
  width: 298px;
  height: 64px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Submit_Button {
  position: absolute;
  top: 28px;
  left: 238px;
  width: 54px;
  height: 30px;
  background-color: #501516;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Submit_Button .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barcode_Input_Input_Text {
  position: absolute;
  top: 28px;
  left: 0px;
  padding-left: 17px;
  width: 208px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barcode_Input_Input_Text .valign {
  vertical-align: middle;
  line-height: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Barcode_Input_Input_Text input {
  color: #A4A4A4;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Scan_Barcode_Title {
  position: absolute;
  top: 0px;
  left: 4px;
  width: 282px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #9A9A9A;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 11pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Scan_Barcode_Title .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Last_Collect {
  position: absolute;
  top: 206px;
  left: 8px;
  width: 304px;
  height: 301px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
  display: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_1 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_1 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_4 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_2 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #262626;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_3 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #262626;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_5 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_5 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_6 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 22px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_7 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #262626;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_7 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_8 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #262626;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_9 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_9 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_10 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_11 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #262626;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_11 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_12 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #262626;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_13 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_13 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_14 {
  padding-left: 12px;
  width: 192px;
  height: 34px;
  background-color: #424242;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_15 {
  padding-right: 7px;
  padding-left: 12px;
  width: 78px;
  height: 54px;
  background-color: #262626;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  text-shadow: none;
  line-height: 12px;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_15 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_16 {
  padding-left: 12px;
  width: 192px;
  height: 54px;
  background-color: #262626;
  background-image: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Loading_Overlay {
  position: absolute;
  top: 280px;
  left: 121px;
  width: 72px;
  height: 72px;
  display: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Activity_Indicator_Area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 68px;
  background-color: #434343;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 9px 9px 9px 9px;
  opacity: 0.68;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Activity_Indicator_Area .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Activity_Indicator_Area span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Activity_Indicator_Area span#rtr-s-Activity_Indicator_Area_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Act_indicator {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_161 {
  position: absolute;
  top: 28px;
  left: 8px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  position: absolute;
  top: 523px;
  left: 0px;
  width: 160px;
  height: 43px;
  background-color: #383838;
  background-image: none;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  position: absolute;
  top: 523px;
  left: 160px;
  width: 159px;
  height: 43px;
  background-color: #383838;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}